{% extends "base.html" %}
{%  block title %}
INSCRIPCIONES
{% endblock %}
{% block content %}
  <link rel="import" href="../static/bower_components/users/sign-up-template.html" />

  <sign-up-template></sign-up-template>


<!--
  <div class="sign-in-form" layout flex>
    <paper-item>INICIA SESION CON TU RED SOCIAL FAVORITA</paper-item>
    <paper-button raised class ="twitter">
      <social-media-icons color = "#ffffff" icon="twitter" size="32"></social-media-icons>
    </paper-button>

    <paper-button raised class ="facebook">
      <social-media-icons icon="facebook" color = "#ffffff" size="32"></social-media-icons>
    </paper-button>

  </div>
-->
{% load static from staticfiles %}

<script src="{% static 'js/users/users.js' %}"></script>

{% endblock %}
