html,body
{
	height: 100%;
	margin: 0;
	padding: 0;
}

body
{
	display: table;
	width: 100%;
}
  paper-toolbar.main{
    background: #7eb43e;
  }
  .url{
    text-decoration:none;
    color:#ffffff;

  }
  .facebook{
    background: #32569E;
  }

  .twitter{
    background: #55acee;
  }

  .sign-in-form{

    padding: 100px;
    margin: 0;
    width: 200px;
  }

  .user-form{
    width: 500px;
    margin-left: 450px;
  }
  .clase-general
  {
  	display: table-row;
  }

  footer
  {
  	background: #333; height: 200px;
  }
