{% extends "asocampus-base.html" %}
{%  block title %}
  Crear Fechas
{% endblock %}
{% block content %}
  {% block imports %}
  {% load static from staticfiles %}
  <script src="{% static 'js/activities/activities.js' %}"></script>

  <form class="form-horizontal" id="verify-sign-up-activity">
  <fieldset>

  <!-- Form Name -->
  <legend>Crear temas por salon</legend>

  <div class="form-group">
    <label class="col-md-2 control-label" for="room">Actividades</label>
    <div class="col-md-4">
      {{form.activities}}
    </div>
      <label id="id_activitiesLabelError" class="labelError"></label>
  </div>

  <div class="form-group">
    <label class="col-md-2 control-label" for="room">Municipio</label>
    <div class="col-md-4">
      {{form.municipios}}
    </div>
    <label id="id_municipiosLabelError" class="labelError"></label>
  </div>

  <div class="form-group">
    <label class="col-md-2 control-label" for="room">auditorio</label>
    <div class="col-md-4">
      <select id="room_id" class="form-control isSelected" onchange="agendaList()">
      </select>
    </div>
    <label id="room_idLabelError" class="labelError"></label>
  </div>

  <div class="form-group">
    <label class="col-md-2 control-label" >Horario</label>
    <div class="col-md-4">
      <select id="agenda-id" name="agenda-id" class="form-control isSelected"></select>

    </div>
    <label id="agenda-idLabelError" class="labelError"></label>
  </div>

  <div class="form-group">
    <label class="col-md-2 control-label isNotNull" for="sign-up-code">Codigo de inscripcion</label>
    <div class="col-md-4">
    <input id="sign-up-code" name="sign-up-code" class="form-control input-md isNotNull" type="text">
    </div>
    <label id="sign-up-codeLabelError" class="labelError"></label>
  </div>


  <div class="form-group">
    <label class="col-md-2 control-label" for="btn-save"></label>
    <div class="col-md-8">

      <input type="button" id="btn-save" class="btn btn-success"  value="Validar asistencia" onclick="validateForm()"></input>
      <input type="button" id="btn-cancel" class="btn btn-danger" value="cancelar"></input>

    </div>
    <div class="form-group" >
    <label id="labelMessage" class="col-md-4 control-label" for="labelMessage"></label>
    </div>
  </div>

  <input type="hidden" id="csrfmiddlewaretoken" value="{{ csrf_token }}">


  </fieldset>
  </form>


  {% endblock %}




{% endblock %}
