{% extends "asocampus-base.html" %}
{%  block title %}
  Crear Fechas
{% endblock %}
{% block content %}
  {% block imports %}
  {% load static from staticfiles %}
  <script src="{% static 'js/payment/payment.js' %}"></script>


  <form class="form-horizontal" id="create-activity-room">
  <fieldset>

  <!-- form to crate a pay -->
  <legend>Pago de la actividad</legend>

  <div class="form-group">
    <label class="col-md-2 control-label" for="room">Ponencias por temas</label>
    <div class="col-md-4">
      {{form.activities}}
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-2 control-label" for="email">Correo electronico</label>
    <div class="col-md-4">
    <input id="email" name="email" class="form-control input-md" type="text">
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-2 control-label" for="btn-save"></label>
    <div class="col-md-8">
      <input type="button" id="btn-save" class="btn btn-success"  value="Guardar" onclick="validatePersonPay()"></input>
    </div>

    <div class="form-group" >
    <label id="labelMessage" class="col-md-4 control-label" for="labelMessage"></label>
    </div>
  </div>

<input type="hidden" id="csrfmiddlewaretoken" value="{{ csrf_token }}">

  </fieldset>
  </form>

  {% endblock %}
{% endblock %}
